<a href="https://colab.research.google.com/github/sowang2022/Functions/blob/main/Lesson_11(numpy).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
lst = [10,20,30]

In [6]:
import numpy as np

np.mean(lst)

20.0

In [25]:
np.linspace(1,80,80)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
       27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38., 39.,
       40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51., 52.,
       53., 54., 55., 56., 57., 58., 59., 60., 61., 62., 63., 64., 65.,
       66., 67., 68., 69., 70., 71., 72., 73., 74., 75., 76., 77., 78.,
       79., 80.])

In [15]:
number = [1,2,3,4,5,6]
numbernp = np.array(number)
print(type(number))
type(numbernp)

print(number)
print(numbernp)

<class 'list'>
[1, 2, 3, 4, 5, 6]
[1 2 3 4 5 6]

In [19]:
# numbernp.max()
#print(np.min(numbernp))

In [23]:
n = [4,6,7,3,4,5,7,9,1]
print(type(n))
n = np.sort(n)
print(type(n))

<class 'list'>
<class 'numpy.ndarray'>